<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('add-patient-form')"></head>

<body th:style="'background-image:url(' + @{/images/doctors2.jpg} + '); 
background-repeat: no-repeat, repeat; background-size: cover;'" class="img-fluid">
	<div class="container-fluid mb-4" >
		<div class="container-fluid mt-2">
			

			<form th:action="@{/patient/addPatient}" th:object="${patient}"
				th:method="post" style="max-width: 500px; margin:0 auto;" 
				onsubmit="return checkEmailUnique(this);">
				<input type="hidden" th:field="*{p_id}">
				<div class="text-center ml-6"><h3>[[${pageTitle}]]</h3></div>
				<div th:if="${param.success}">
					<div class="alert alert-info">[[${message}]]</div>
				</div>
				<div class="border border-white rounded p-4" style="background-color: white; margin-left:10px;">

					<div class="form-group row">
						<label class="col-sm-4 col-form-label">First Name:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{first_name}" class="form-control"
								required th:minlength="3" maxlength="25" placeholder="First Name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Last Name:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{last_name}" class="form-control"
								required th:minlength="3" maxlength="25" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Email:</label>
						<div class="col-sm-8">
							<input type="email" th:field="*{email}" class="form-control"
								required th:minlength="8" maxlength="25" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Password:</label>
						<div class="col-sm-8">
							<input type="password" th:field="*{password}" class="form-control" required 
							th:minlength="6" maxlength="16" placeholder="Password">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Phone:</label>
						<div class="col-sm-8">
							<input type="number" th:field="*{phone}" class="form-control" required placeholder="Phone">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Gender:</label>
						<div class="col-sm-8 mt-2">
							<div class="custom-control custom-radio custom-control-inline">
	                			<input type="radio" id="male" name="male" class="custom-control-input" value="male" th:field="*{gender}">
	                			<label class="custom-control-label" for="male">male</label>
            				</div>
	            			<div class="custom-control custom-radio custom-control-inline">
	                			<input type="radio" id="female" name="female" class="custom-control-input" value="female" th:field="*{gender}">
	                			<label class="custom-control-label" for="female">female</label>
	            			</div>
	            			<div class="custom-control custom-radio custom-control-inline">
	                			<input type="radio" id="other" name="other" class="custom-control-input" value="other" th:field="*{gender}">
	                			<label class="custom-control-label" for="other">other</label>
	            			</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Age:</label>
						<div class="col-sm-8">
							<input type="number" th:field="*{age}" class="form-control" required
							th:minlength="1" maxlength="3">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Address Line 1:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{street_address}" class="form-control" placeholder="Street Address">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">City:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{city}" class="form-control" placeholder="City">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">State:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{state}" class="form-control" placeholder="State">
						</div>
					</div>
					<div class="justify-content-center row">
						<button type="submit" class="btn btn-primary m-2">Submit</button>
						<p class="m-3">
							Already have an account? <a href="/" th:href="@{/login}">Login</a>
						<p>
					</div>
				</div>
			</form>
			<div class="modal fade text-center" id="modalDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="modalTitle">Warning</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<span id="modalBody"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{/index}]]"
			})
		});

		function checkEmailUnique(form) {
			url = "[[@{/patient/check_email}]]";
			patientEmail = $("#email").val(); // jquery syntax
			csrfValue = $("input[name='_csrf']").val();
			params = {email : patientEmail,_csrf : csrfValue };

			$.post(url,params,function(response) {
				if (response == "OK") {
					form.submit();
				} else if (response == "Duplicate") {
					showModalDialog("Warning","Email "+ patientEmail + " is already exist. Please try again with another email.");
				} else { 
					showModalDialog("Error","Unknown response from server");}

				}).fail(function() {
					showModalDialog("Error","Could not connect to the server");
				});
			return false;
		}
		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal();
		}
	</script>
</body>
</html>