<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('view doctor list')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		
		<div class="container-fluid text-center mt-3" th:object="${doctor}">
			<div th:field="*{d_id}"></div>
			<div class="mt-2">
				<form th:action="@{/doctor/view_doctor}" class="form-inline container-fluid text-center">
					<input type="search" name="keyword" class="form-control m-2" required 
					placeholder="Search Doctors">
					<input type="submit" value="Search" class="btn btn-primary m-2">
				</form>
			</div>
				
			<div th:if="${message}" class="alert alert-success text-center">[[${message}]]</div>
			<div class="mediumscreen-details">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Dr. Name</th>
							<th>Photos</th>
							<th>Specialties</th>
							<th>Phone</th>
							<th>Location</th>
							<th>Apply Appointment</th>	
						</tr>
					</thead>
					<tbody>
						<tr th:if="${doctorList.isEmpty()}" style="color: purple">
							<td colspan="8">< No Doctor found with that search keyword. Try again!></td>
						</tr>
												
						<th:block th:each="doctor: ${doctorList}">
						
						<tr>
							<td>[[${doctor.first_name}]], [[${doctor.last_name}]]</td>
							<td>
								<!-- <span th:if="${doctor.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span> -->
								<span th:if="${doctor.photo == null}"><img th:src="@{/images/doctorMedium.png}" class="center"></span>
								<img th:if="${doctor.photo != null }" th:src="@{${doctor.getPhotosImagePath()}}"
								style="width: 100px">
							</td>
							<td>[[${doctor.specialty}]]</td>
							<td>[[${doctor.phone}]]</td>
							<td>[[${doctor.city}]],[[${doctor.state}]]</td>
							<td><a th:href="@{/appointment/appointmentForm/{doc_id} (doc_id=${doctor.d_id})}">apply</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			<div class="smallscreen-details mr-1">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Dr.Profile</th>
							<th>Location</th>
							<th>Apply</th>	
						</tr>
					</thead>
					<tbody>
						<tr th:if="${doctorList.isEmpty()}" style="color: purple">
							<td colspan="8">< No Doctor found with that search keyword. Try again!></td>
						</tr>
												
						<th:block th:each="doctor: ${doctorList}">
						
						<tr>
							<td>
								<!-- <span th:if="${doctor.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span> -->
								<span th:if="${doctor.photo == null}"><img th:src="@{/images/doctorMedium.png}" class="center"></span>
								<img th:if="${doctor.photo != null }" th:src="@{${doctor.getPhotosImagePath()}}"
								style="width: 100px">
								<br>[[${doctor.first_name}]], [[${doctor.last_name}]] ([[${doctor.specialty}]])
							</td>
							
							<td>[[${doctor.city}]],[[${doctor.state}]] <br> ph# [[${doctor.phone}]]
							</td>
							<td><a th:href="@{/appointment/appointmentForm/{doc_id} (doc_id=${doctor.d_id})}" 
							class="apply-appointment-link" th:firstName="${doctor.first_name}"
							th:lastName="${doctor.last_name}">apply</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Appointment Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">		
		$(document).ready(function() {
			$(".apply-appointment-link").on("click",function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				firstName = link.attr("firstName");
				lastName = link.attr("lastName");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Do you want to proceed apply appointment with Dr. "	+ firstName + " "+lastName);
				$('#confirmModal').modal();
			})
		})
		
	</script>
</body>
</html>