<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('view appointment')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		
		<div class="container-fluid text-center mt-4" th:object="${doctor}">
		
			<div>
				<div th:if="${message}" class="alert alert-success text-center">
					[[${message}]]
				</div>
			</div>
			<div class="mediumscreen-details">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Doctor Name</th>
							<th>Photo</th>
							<th>Specialties</th>
							<th>Reason</th>
							<th>Location</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${appointmentList.isEmpty()}" style="color: purple">
							<td colspan="8">< No appointment found. Stay healthy!></td>
						</tr>
						<th:block th:each="appointment: ${appointmentList}">
						<tr>
							<td>[[${appointment?.map_doctor?.first_name}]], [[${appointment?.map_doctor?.last_name}]]</td>
							<td>
								<span th:if="${appointment?.map_doctor?.photo == null}"><img th:src="@{/images/doctorMedium.png}" class="center"></span>
								<img th:if="${appointment?.map_doctor?.photo != null }" th:src="@{${appointment?.map_doctor.getPhotosImagePath()}}"
								style="width: 100px">
							</td>
							<td>[[${appointment?.map_doctor?.specialty}]]</td>
							<td>[[${appointment.reason}]]</td>
							<td>[[${appointment?.map_doctor?.city}]] [[${appointment?.map_doctor?.state}]]</td>
							<td>[[${appointment.status}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="smallscreen-details">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th>Dr. Info</th>
							<th>Reason</th>
							<th>Add/Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${appointmentList.isEmpty()}" style="color: purple">
							<td colspan="8">< No appointment found. Stay healthy!></td>
						</tr>
						<th:block th:each="appointment: ${appointmentList}">
						<tr>
							<td>
								<span th:if="${appointment?.map_doctor?.photo == null}"><img th:src="@{/images/doctorMedium.png}" class="center"></span>
								<img th:if="${appointment?.map_doctor?.photo != null }" th:src="@{${appointment?.map_doctor.getPhotosImagePath()}}"
								style="width: 100px"> <br>
								[[${appointment?.map_doctor?.first_name}]], [[${appointment?.map_doctor?.last_name}]] ([[${appointment?.map_doctor?.specialty}]])
							</td>
							<td>[[${appointment.reason}]]</td>
							<td>[[${appointment?.map_doctor?.city}]], [[${appointment?.map_doctor?.state}]] <br>[[${appointment.status}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>