<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('doctor profile')"></head>

<body>
	<div class="container-fluid">
		<div th:replace="navigation_doctor :: menu"></div>

		<div>
			<h4 class="pt-4 text-center">[[${pageTitle}]]</h4>

			<div class="border border-gray rounded p-4" style="max-width: 680px; margin:0 auto;"
				th:object="${doctorObject}">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"><b>Doctor ID: </b></label>
					<div class="col-sm-8 mt-2">
						[[${doctorObject.d_id}]]
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"></label>
					<div class="col-sm-8">
						<span th:if="${doctorObject.photo == null}"><img th:src="@{/images/doctorMedium.png}" class="center"></span>
						<img th:if="${doctorObject.photo != null }" th:src="@{${doctorObject.getPhotosImagePath()}}" style="width: 150px">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"></label>
					<div class="col-sm-8">
						[[${doctorObject.first_name}]] [[${doctorObject.last_name}]]
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"><b>Email</b></label>
					<div class="col-sm-8 mt-2">
						[[${doctorObject.email}]]
						<!-- <input type="email" th:field="*{email}" class="form-control" th:readonly="readonly"> -->
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"><b>Phone Number</b></label>
					<div class="col-sm-8 mt-2">
						[[${doctorObject.phone}]]
 						<!-- <input type="number" th:field="*{phone}" class="form-control" th:readonly="readonly"> -->					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"><b>Specialty</b></label>
					<div class="col-sm-8 mt-2">
						[[${doctorObject.specialty}]]
						<!-- <input type="text" th:field="*{specialty}" class="form-control" th:readonly="readonly"> -->
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label"><b>Address</b></label>
					<div class="col-sm-8 mt-2">
						[[${doctorObject.street_address}]], [[${doctorObject.city}]], [[${doctorObject.state}]]
					</div>
				</div>
				<div class="text-center">
					<button type="button" class="btn btn-secondary m-2" onClick="backHomePage()"><- Back</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function backHomePage(){
			window.location="/";
		}
	</script>
</body>
</html>